{% extends 'Sales/base.html' %}

{% block content %}
<h1>Home</h1>
<h4>Some subheading</h4>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, nostrum sunt ipsam voluptatibus, reprehenderit amet modi ducimus vel, harum corrupti eveniet minus tenetur sapiente maxime officia iusto at omnis aliquam!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, laboriosam ipsum dignissimos aliquid molestias eius quas tenetur illum ut, modi, maiores aliquam reprehenderit? Harum libero, omnis facere accusantium sequi asperiores!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure hic, quae error pariatur laudantium ipsa aliquam iste molestiae, quisquam voluptate vero possimus beatae, voluptas quo asperiores. Quis voluptatum nam voluptatibus.</p>
<h4>Some Other Subheading</h4>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nesciunt consequatur quaerat, recusandae maiores unde error incidunt dolore excepturi ad corporis eveniet placeat quis hic ratione rerum voluptas tempore! Autem!</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque a tempore earum vero esse natus vitae iure doloribus maxime doloremque! Quaerat quo maiores vel quas vitae quasi ullam asperiores soluta?</p>
{% endblock content %}