{% extends './base.html' %}
{% load static %}

{% block content %} 
<script>const photos = [];</script>
<script>
    {% for photo in car.photos %}
    photos.push('{{ photo }}');
    {% endfor %}
</script>

<div class="slideshows inactive">
    <div class="full_screen_slideshow">
        <div class="exit">
            <span></span>
            <span></span>
        </div>
        <div class="current_photo_full">
            <div class="left_main arrow_full">PREV</div>
            <img class="main_photo_full" src="{{ car.main_photo }}" alt="{{ car.make }}">
            <div class="right_main arrow_full">NEXT</div>
        </div>
        <div class="shownext_full">
            <div class="left_preview arrow"><</div>
            <div class="previews_full"></div>
            <div class="right_preview arrow">></div>
        </div>
    </div>
    
    <div class="responsive_slideshow_full">
        <div class="exit">
            <span></span>
            <span></span>
        </div>
        <div class="current_photo_responsive_full">
            <div class="prev">
                <div class="left_res arrow_responsive_full"><</div>
            </div>
            <img class="res_photo_full" src="{{ car.main_photo }}" alt="{{ car.make }}">
            <div class="next">
                <div class="right_res arrow_responsive_full">></div>
            </div>
            <div class="numbers"></div>
        </div>
    </div>
</div>



{% if not car.is_classic %}
<a href="/modern" style="color:black;">Return to search</a>
{% else %}
<a href="/classic" style="color:black;">Return to search</a>
{% endif %}
<h1>{{ car.title }}</h1>
<div class="center">
    <div class="slideshow">
        <div class="current_photo">
            <img class="main_photo" src="{{ car.main_photo }}" alt="{{ car.make }}">
        </div>
        <div class="shownext">
            <div class="left arrow"><</div>
            <div class="previews"></div>
            <div class="right arrow">></div>
        </div>
    </div>
</div>

<h2>{{ car.title }}</h2>

<div class="split_content">
    <div class="content_left">
        <table>
            <thead>
                <td><h4>Specifications</h4></td>
            </thead>
            <tr>
                <td>Price</td>
                <td>{{ car.price }}</td>
            </tr>
            <tr>
                <td>Odometer</td>
                <td>{{ car.mileage }}</td>
            </tr>
            <tr>
                <td>Body Type</td>
                <td>{{ car.body_style }}</td>
            </tr>
            <tr>
                <td>Fuel Type</td>
                <td>{{ car.fuel_type }}</td>
            </tr>
        </table>
    </div>
    <div class="content_right">
        <div class="description">
            <h4>Description</h4>
            {{ car.description|linebreaks }}
        </div>
    </div>
</div>


{% endblock %} 

{% block extra_scripts %}
<script src="{% static 'Sales/js/details.js' %}"></script>
<script src="{% static 'Sales/js/FullscreenSlideshow.js' %}"></script>
<script src="{% static 'Sales/js/FullscreenResponsive.js' %}"></script>
{% endblock %}