{% extends 'Sales/base.html' %}

{% block content %}
<h1>Contact Us</h1>
<div class="split_content">
    <div class="content_left">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3148.8903355705597!2d145.08077881530014!3d-37.88624724596746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad66a66054c293f%3A0xf0456760532d460!2sChadstone%20-%20The%20Fashion%20Capital!5e0!3m2!1sen!2sau!4v1588295159514!5m2!1sen!2sau" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>    
    <div class="content_right">
        <h4>Opening Hours</h4>
        <table>
            <tr>
                <td>Monday</td>
                <td>9:00am - 5:00pm</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>9:00am - 5:00pm</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>9:00am - 5:00pm</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>9:00am - 5:00pm</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>9:00am - 5:00pm</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>11:00am - 2:30pm</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td>Closed</td>
            </tr>
        </table>
        <br>
        <hr>
        <br>
        <h4>Contact Methods</h4>
        <table>
            <tr>
                <td>Address</td>
                <td>1341 Dandenong Rd, Chadstone VIC 3148</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td class="phone">+61 4** *** ***</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>example@example.com</td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}